.card {
  margin-inline: auto;
  display: 'flex';
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  box-shadow: 2px 8px 35px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;
  padding: 40px 60px;
}
.card .heading {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  color: #556ab0;
  font-weight: 700;
  font-family: 'Poppins';
}
.card .firstText,
.card .secondText {
  display: flex;
  font-weight: 500;
  line-height: 1.7;
}
.card .secondText {
  margin-top: 40px;
}
.card .formControl {
  margin-inline: auto;
}
.card .formControl label {
  visibility: hidden;
}
.card .formControl .errorCheck {
  width: 90%;
  color: #f00;
}
.card .formControl .password {
  position: relative;
}

.card .formControl .password img {
  position: absolute;
  top: 12px;
  right: 20px;
}
.card .formControl input {
  background-color: #f7f8f9;
  font-family: 'Poppins';
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f7f8f9;
  height: 44px;
  text-indent: 15px;
  outline: none;
  padding: 8px;
  font-size: 16px;
}
.card .formControl button {
  width: 100%;
  margin-top: 32px;
  background-color: #d9d9d9;
  color: #000;
  font-family: 'Poppins';
}
.card .formControl .lastText {
  margin-top: 32px;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 679px) {
  .card {
    width: 70%;
    height: 90vh;
    border-radius: 0;
    box-shadow: none;
  }
}
@media (max-width: 595px) {
  .card {
    height: 100vh;
    width: 100%;
    border-radius: 0 !important;
  }
}
